prpo-vaje/Klik-kafe-sheme/lib/si/fri/prpo/storitve/uporabniki/v1/Uporabniki.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://prpo.fri.si/storitve/uporabniki/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Uporabniki"
	targetNamespace="http://prpo.fri.si/storitve/uporabniki/v1">
	<wsdl:types>
		<xsd:schema targetNamespace="http://prpo.fri.si/storitve/uporabniki/v1"
			xmlns:tns="http://prpo.fri.si/storitve/uporabniki/v1"
			xmlns:sporocila="http://prpo.fri.si/sheme/uporabniki/sporocila/v1">
			<xsd:import
				schemaLocation="../../../sheme/uporabniki/sporocila/v1/UporabnikiSporocila.xsd"
				namespace="http://prpo.fri.si/sheme/uporabniki/sporocila/v1" />

			<xsd:element name="vrniUporabnikaRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="input"
							type="sporocila:VrniUporabnikaZahtevaSporocilo" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="vrniUporabnikaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="output"
							type="sporocila:VrniUporabnikaOdgovorSporocilo" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>


		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="vrniUporabnika">
		<wsdl:part element="tns:vrniUporabnikaRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="vrniUporabnikaResponse">
		<wsdl:part element="tns:vrniUporabnikaResponse" name="parameters" />
	</wsdl:message>



	<wsdl:portType name="UporabnikiPort">
		<wsdl:operation name="vrniUporabnika">
			<wsdl:input message="tns:vrniUporabnika" />
			<wsdl:output message="tns:vrniUporabnikaResponse" />
		</wsdl:operation>
	</wsdl:portType>



	<wsdl:binding name="UporabnikiSOAPbinding" type="tns:UporabnikiPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="vrniUporabnika">
			<soap:operation soapAction="http://prpo.fri.si/storitve/uporabniki/v1" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Uporabniki">
		<wsdl:port binding="tns:UporabnikiSOAPbinding" name="UporabnikiSOAP">
			<soap:address location="v1/Uporabniki" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
